@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 110%;
    /* min-height: 400px;
    margin-bottom: 100px; */
}

header {
    background-color: #111111;
}

#header-center {
    width: 33%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#header-center h1 {
    color: #fff;
    text-align: center;

}

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#menu {
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: #111111;
}

#menu ul {
    text-align: center;
    padding: 20px;
}

#menu li {
    width: 15%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/squad-main.jpg') no-repeat center center;
    background-size: 100%;
    padding-top: 12%;
}

#about {
    line-height: 2em;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    min-height: 150px;
}

#about h2 {
    padding-bottom: 1em;
    text-align: center;
}

#about img {
    position: relative;
    float: left;
    width: 35%;
}


#about p {
    position: relative;
    float: right;
    text-align: center;
    width: 60%;
    padding-top: 10px;
    font-size: 120%;
}

#cover-text {
    color: #fff;
    text-align: center;
    font-size: 130%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    width: 75%;
    height: 90px;
    padding: 30px 20px;
    background-color: rgba(15, 14, 14, 0.7);
    bottom: -125px;
    left: 11.5%;
    position: absolute;
}

#cover-text h2 {
    padding-bottom: 20px;
}

#news {
    text-align: center;
}

#news h1 {
    padding: 20px 0;
}

#news h2 {
    padding: 20px 0;
}

#news p {
    line-height: 30px;
}

.news-article-left {
    float: left;
    width: 30%;
    line-height: 50px;
    padding: 10px;
}

.news-article-right {
    float: right;
    width: 30%;
    line-height: 50px;
    padding: 10px;
}

.news-article-center {
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
}


#fixtures {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding: 5px;
    clear: both;
}

#fixtures h2 {
    text-align: center;
    margin-top: 5%;
}

#fixtures div {
    width: 20%;
    height: 155px;
    float: left;
    padding: 25px 0 20px 0;
    margin-top: 30px;
    margin-left: 60px;
    text-align: center;
    border: 5px double #111111;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

footer {
    background-color: #111111;
    clear: both;
    margin-top: 30px;
    padding-top: 30px;
    height: 150px;
    width: 100%;
}

footer p {
    color: #ccc;
    text-align: center;
    font-size: 110%;
    padding-top: 20px;
}

.social-links {
    text-align: center;
    text-decoration: none;
}

.social-links li {
    display: inline;
}

.social-links i {
        font-size: 160%;
        margin: 1%;
        color: #ccc;
}