@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 110%;
}

/* Header Section*/

header {
    background-color: #111111;
}

#header-center {
    width: 33%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#header-center h1 {
    color: #fff;
    text-align: center;

}

/* Logo styling */

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Navigation Links */

#menu {
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: #111111;
}

#menu ul {
    text-align: center;
    padding: 20px;
}

#menu li {
    width: 15%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/squad-main.jpg') no-repeat center center;
    background-size: 100%;
    padding-top: 12%;
}

#cover-text {
    color: #fff;
    text-align: center;
    font-size: 130%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    width: 75%;
    height: 90px;
    padding: 30px 20px;
    background-color: rgba(15, 14, 14, 0.7);
    bottom: -125px;
    left: 11.5%;
    position: absolute;
}

#cover-text h2 {
    padding-bottom: 20px;
}

/* Flex Container for About Section */

.flex-container-about {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.about-image {
    width: 45%;
    display: flex;
}

.about-image img {
    min-width: 0;
}

.about-text {
    font-weight: 400;
    width: 50%;
    text-align: center;
    font-size: 120%;
    padding: 5%;
    line-height: 1.5em;
}

#about h1 {
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

/* News Section and Flex Conatiner*/

#news {
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}

#news h1 {
    padding: 20px;
    background-color: black;
    color: white;
}

.flex-container-news {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.flex-container-news div {
    width: 30%;
    display: flex;
    padding: 30px;
}

.flex-container-news img {
        min-width: 0;
        padding-top: 25px;
}

.flex-container-news p {
    font-size: 120%;
    line-height: 1.5em;
}

#news h2 {
    padding: 20px 0;
}

#news p {
    line-height: 30px;
}

hr {
    padding: 10px;
}

/* Flex Conatiner for Fixtures section */

#fixtures {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding: 5px;
    clear: both;
}

#fixtures h1 {
    padding: 20px;
    background-color: black;
    color: white;
}

#fixtures div {
    width: 20%;
    height: 155px;
    float: left;
    padding: 25px 0 20px 0;
    margin-top: 30px;
    margin-left: 60px;
    text-align: center;
    border: 5px double #111111;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

footer {
    background-color: #111111;
    clear: both;
    margin-top: 30px;
    padding-top: 30px;
    height: 150px;
    width: 100%;
}

footer p {
    color: #ccc;
    text-align: center;
    font-size: 110%;
    padding-top: 20px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    text-decoration: none;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    color: #ccc;
}