@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 110%;
}

header {
    background-color: #111111;
}

#header-center {
    width: 33%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#header-center h1 {
    color: #fff;
    text-align: center;
    
}

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#menu {
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: #111111;
}

#menu ul {
    text-align: center;
    padding: 20px;
}

#menu li {
    width: 20%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/squad-main.jpg') no-repeat center center;
    background-size: 100%;
    padding-top: 12%;
}

#welcome {
    text-align: center;
    line-height: 2em;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#welcome h1 {
    padding-bottom: 20px;
}

#welcome p {
    font-family: inherit;
    padding-top: 10px;
    font-size: 120%;
}

#about h2 {
    margin: 20px 0;
    text-align: center;
}

#about p {
    text-align: center;
}

#cover-text {
    color: #fff;
    text-align: center;
    font-size: 130%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    width: 75%;
    height: 90px;
    padding: 30px 20px;
    background-color: rgba(15, 14, 14, 0.7);
    bottom: -90px;
    left: 15%;
    position: absolute
}

#cover-text h2 {
    padding-bottom: 20px;
}


#fixtures {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}

#fixtures div {
    width: 23%;
    height: 155px;
    float: left;
    padding: 50px 0 0 10px;
    margin-top: 20px;
    margin-left: 13px;
    text-align: center;
    border: 5px double #ccc;
    border-radius: 15px;
}